META_APP_SECRET=
META_VERIFY_TOKEN=
META_PAGE_TOKEN=
DATACRAZY_WEBHOOK_URL=https://api.datacrazy.io/v1/crm/api/crm/flows/webhooks/ac0abb1b-4317-45a5-ba50-d95ac4b6a452/a422beaf-a314-4909-b51c-acfd3b36a9b7
GRAPH_API_VERSION=v21.0
PORT=3000
LOG_LEVEL=info
